@import url("https://fonts.googleapis.com/css?family=Poppins:300,700,500,400,600");

/* General reset */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

header {
  animation: slideIn 0.6s ease-out;
}

main {
  flex-grow: 1;
}

/* Header section */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

header.active {
  background-color: white; /* Background color when section changes */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  transition: transform 0.3s ease; /* Smooth transition */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.avatar:active {
  transform: scale(1.5); /* Scale up on click */
}

.avatar img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.toggle-btn {
  margin: 0;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #696969;
  flex: 1;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.toggle-btn.active,
.toggle-btn:focus {
  background-color: white;
  color: #282828;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05); /* Slightly enlarge the active button */
}

/* Add hover effect */
.toggle-btn:hover {
  background-color: #eaeaea;
  text-decoration: none; 
}


/* About Section */
.about-section {
  text-align: center;
  padding: 40px 0;
  background-color: #ffffff;
}


/* Hero section */
.hero {
  text-align: center;
  padding: 60px 0;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;
}

.tsparticles {
  background-image: url('images/particles.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 40%; /* Make it smaller by default */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  transition: background-size 0.1s ease-out;
}

.hero h1 {
  font-family: "Poppins";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #A3CBEA 35%, #8C77ED 50%, #E0728B 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1;
  position: relative;
  margin: 50px 0px 10px 0px;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.location-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.location {
  color: #323232;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.hero-description {
  font-size: 16px;
  color: #666;
  width: 40%;
  margin: 10px auto;
}

/* Skills section */
.skills {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.skills img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills img:hover {
  transform: scale(1.2);
}

/* Download CV button */
.btn-download-cv {
  width: 180px;
  height: 29px;
  display: inline-flex;
  padding: var(--Line-height-400, 22px) 18px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 90px 0 100px 0;
  background: linear-gradient(270deg, #574e57 0%, #373737 89.22%);
  color: white;
  text-decoration: none;
  border-radius: 11px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 4s ease, transform 0.6s ease;
}

.btn-download-cv:hover {
  background: linear-gradient(270deg, #373737 0%, #565555 89.22%);
  transform: scale(1.06); /* Slight scale increase on hover */
}

/* About */
.group {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.text-wrapper-1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center; /* Center the text */
  background: linear-gradient(90deg, #A3CBEA 34%, #8C77ED 50%, #E0728B 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0;
  margin-bottom: 10px;
  line-height: normal;
  font-family: Poppins;
}

.about-text {
  font-size: 13px;
  color: #555;
  line-height: 1.8;
  text-align: left; /* Center the text */
  margin-bottom: 20px;
}


.about-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-images{
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 0px;
}

.about-images .left{
  position: relative;
  width: 260px;
  height: 347px;
  object-fit: cover;
}

.about-images .mid{
  position: relative;
  width: 360px;
  height: 541px;
  object-fit: cover;
}

.about-images .right{
  position: relative;
  width: 249px;
  height: 289px;
  object-fit: cover;
}

.about-images img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-images img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-read-more {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-read-more:hover {
  background-color: #555;
}

.menu-icon {
  display: flex;
  width: 15vw;
  height: 15vw;
  max-width: 66px;
  max-height: 66px;
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.menu-icon:hover {
  transform: rotate(5deg) scale(1.1); /* Rotate and scale up on hover */
  box-shadow: 0 4px 10px rgba(59, 58, 58, 0.3); /* Add a shadow on hover */
}

.menu-icon img {
  width: 40%;
  height: 40%;
  background: none;
  position: relative;
}

/* Footer section */
footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #f4f4f4;
  margin-top: auto;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block; /* Allows transform to work */
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: translateY(-3px); /* Bounce effect */
}

.social-icons img {
  width: 25px;
  height: 25px;
}

footer p {
  font-size: 14px;
  color: gray;
}


@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* Smaller screens (Tablets) */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px; 
  }

  .hero-description {
    width: 80%; 
  }

  .tsparticles {
    background-size: 60%; 
  }

  .btn-download-cv {
    width: 180px;
    height: 50px;
  }

  .about-images {
    flex-direction: column;
    gap: 10px;
  }

  .project-container {
    flex-direction: column;
  }

  .project-card {
    width: 90%;
  }

  .skills img {
    width: 40px;
    height: 40px;
}

/* Very small screens (Mobile) */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 28px; 
  }

  .hero-description {
    width: 90%;
    font-size: 14px; 
  }

  .tsparticles {
    background-size: 80%; 
    background-position: center;
  }

  .btn-download-cv {
    width: 160px; 
    height: 45px;
  }
}
}
